/* Custom styles */

.light-style .bs-stepper.vertical .bs-stepper-header {
    border-right: 1px solid #d9dee3;
}

.template-customizer-open-btn, .dropdown-style-switcher {
    display: none !important;
}

.light-style .bootstrap-select .filter-option-inner-inner {
    color: #697a8d;
}

.help-icon {
    color: #5f61e6;
    cursor: pointer;
}

ul.menu-sub {
    padding-left: 15px;
}

/* datatable strip lines */
/* odd rows */
.card-datatable table tbody tr:nth-child(odd) {
    background-color: #fff;
}

/* even rows */
.card-datatable table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

/* hovered rows */
.card-datatable table tbody tr:hover {
    background-color: #efefef;
}

/* datatable header */
.table > :not(caption) > * > *, 
.card,
.bg-footer-theme,
.dataTables_info,
.dataTables_paginate .page-item .page-link,
.bs-stepper-content,
.modal-content {
    color: rgb(58, 70, 83) !important;
}

.light-style .bs-stepper .bs-stepper-header .step .bs-stepper-subtitle {
    color: #8397ad;
}

.page-item.active .page-link {
    background-color: #5f61e6;
    border-color: #5f61e6;
    color: #fff !important;
}

.app-brand .layout-menu-toggle i {
    line-height: 1 !important;
}

td.day {
    color: #35353f;
}